/bin/
/target/
.classpath
.settings/*
/bin/
cover/target/
/bin/
*.class
Examples/BookSeller/COVER.jar
cover/coverengine/target/*
COVER.jar
Examples/REFSQ/BookSeller/COVER1.0.0.jar
*.ini
Examples/REFSQ/BookSeller/MTSA/*
